body {
    color: #2676d1;
}

#landingBody {
    background-image: url('media/landing.png');
    background-repeat: no-repeat;
}

#title {
    
}

h1 { 
    text-align: center;
    font-size: 3.5em;
    text-shadow: #141414;
}

div {
    margin-top:22%;
    width: 80%;
    height: 50%;
    margin-left: 5%;
}

#startButton {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    background-color: #ffffff00;
    border-color: #ffffff00;
    border-radius: 4px;
    font-size: 3em;
    height: 80px;
    width: 240px;
    color: #ffffff;
    position: absolute;
    left:75%;
    top: 50%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 1800px;
    height: 900px;
    border-radius: 15px;
}

#poemTitle { 
    position: absolute;
    top: 5%;
    left: 5%;
    color: black;
}

#instructions { 
    font-family: 'Dosis', sans-serif;
    color: white;
    margin-left: 5%;
    margin-top: 75px;
}

select {
    position: absolute;
    top: 5%;
    height: 25px;
    width:80px;
    left: 6%;
    background-color: #ffffff00;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}